<!DOCTYPE html>
<html lang="en">

<head>
    <script src="jquery.min.js"> </script>
    <link rel="stylesheet" type="text/css" href="/checklists.css">
</head>
<!--<script>const handleBar = require('handlebars')</script>-->
<body>
<!--Side Navigation-->
<div class="sidenav">
    <ul>
        <form action="home" method="GET">
            <input class="selection" type="submit" value="View All">
        </form>
        <form action="notes" method="GET">
            <input class="selection" type="submit" value="Notes">
        </form>

        <input id="checklists_selection" class="selection" type="submit" value="Checklists">

    </ul>
    <div class="tagheader">TAGS
        <input class="addtagButton" type="button" value="ADD">
    </div>

    <ul id="tags_container">
        <form id="tags_list">
            <input id="tag" class="selection" type="text" value="School">
            <input id="tag" class="selection" type="text" value="Travel">
        </form>
    </ul>
</div>

<!--Header-->
<div class="header sticky" id="HeaderDiv">
    <form action="logout" method="POST" id="logoutform">
        <input type="submit" value="Sign out" id="logout">
    </form>
    <h2 class="name">CheckNotes</h2>

    <form class="searchForm" method="GET">
        <input id="search_input" class="searchBar" type="text" placeholder="Search">
    </form>

    <!--<img class="logoutIcon" src="Checkbox Icon.svg">-->
</div>

<!--Page Content-->


<div id="content">

    <form class="createpostForm" method="post" action="create_post">
        <input id="postinput" type="text" placeholder="Create a checklist...">
        <input class="createpostButton" id="listbutton" type="button" value="CREATE">
        <input id='fileid' type='file' accept=".jpg" style="display: none">
    </form>

    <!--Welcome {{username}}!
        <br>
        <br>

        <div>
            <p>Preferences </p>

            <form action="preferences" method="POST">
                font size: <input type="number" name="fontsize">
                <input type="submit" value="Submit Query">
            </form>
        </div>-->


    <div id="notescontainer">

        <div class="checklistDiv">
            <p class="checklistTitle">Upcoming Schoolwork</p>
            <form class="checklistButtons">
                <input class="editCheckList" type="button" value="EDIT"><br>
                <input class="deleteCheckList" type="button" value="DELETE">
            </form>
            <form class="checklistContent">
                <label class="checklistItem" name="p_id[]"><input type="checkbox">HCIFACE DJ4 - August 5</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">WEBAPDE Phase 2 - August 6</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">INTR-OS miniP2 - August 7</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">AUTOMAT Problem Set 4 - August 8</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">WEBPAPDE Mini Challenge 5 - August 8</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">INTR-OS Exam - August 9</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">HCIFACE Exam - August 9</label><br>
                <label class="checklistItem" name="p_id[]"><input type="checkbox">SOCTEC2 Presentation - August 9</label><br>
            </form>

            <div class="checklistTagDiv">
                <span id="checklistTag">School</span>
            </div>
        </div>
    </div>
</div>

<!--Overlay-->
<div id="overlay">
    <div id="background"></div>
    <div id="newpost">
    </div>
</div>

<div id="overlay_editN">
    <div id="background_editN"></div>
    <div id="editpost">
    </div>
</div>

<div id="overlay_editCL">
    <div id="background_editCL"></div>
    <div id="editCL">
    </div>
</div>

<script type = "text/x-handlebars-template" id = "noteTemplate">
    <div class="noteDiv">
        <p id="noteTitle">{{title}}</p>
        <p id="noteContent">{{content}}</p>

        <input id="editNote" type="button" value="EDIT">
    </div>

</script>
<script src="home.js"></script>
</body>

</html>