body{
    display: flex;
    flex-direction: column;
}

#container{
    display: flex;
    flex-direction: column;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #efefef;
    border-radius: 5px;
    padding: 50px;
    box-shadow: 0 3px 6px rgba(50, 50, 50, 0.25);
}

#loginform{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

input{
    height: 40px;
    padding-left: 15px;
    width:250px;
    font-family: Roboto,sans-serif;
    border-radius: 10px;
    border: 0;
    margin-bottom: 5px;
}

#loginbutton{
    position: relative;
    width:180px;
    height:25px;
    color:white;
    margin: 0 auto;
    background-color: #ffca00;

    border: 0px;
    border-radius: 5px;
    font-family: Roboto,sans-serif;
    font-weight: bold;

    transition-property: all;
    transition-duration: 0.5s;
    transition-timing-function:ease;
}

#siguptext{
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    font-family: Roboto,sans-serif;
    font-size: small;
}

#signup{
    margin: 5px auto 0;
    font-size: medium;
}

a{
    color: #d6a800;
    text-decoration: none;
    font-family: Roboto,sans-serif;
}

#Instruction{
    position:relative;

    top:14px;

    font-family: Roboto,sans-serif;
    font-size:10pt;

    text-align: center;
}
#loginbutton:hover{
    background-color: #fac400;
    box-shadow: 0 3px 6px  rgba(50, 50, 50, 0.25);

}
#loginbutton:focus{
    background-color: #ffca00;
    box-shadow: 0 3px 6px rgba(50, 50, 50, 0.25);
    border: rgba(61, 61, 61, 0.6) solid;
}

button:focus {
    outline:none;
}
input:focus{
    outline:none;
}
#name{
    color: rgba(0,0,0,.87);
    font-family: Roboto,sans-serif;
    font-size: 24pt;
    font-weight: 200;
    text-align: center;
    margin: 0 auto;
}

#aboutustext{
    margin: 0 auto;
    position: absolute;
    top: 95%;
    left: 47%;
    background-color: #e9ecee;
}

#aboutus{
    margin: 0 auto;
    position: relative;
    font-family:Roboto, sans-serif;
    font-size:10pt;
    text-align: center;
    color: black;
}

#aboutus:hover{
    color: #d6a800;
}
